      button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Open Modal
      #myModal.modal.fade
         .modal-dialog
            .col-md-3
               img(src='https://slack-files.com/files-tmb/T06AEQG2D-F06AVHL4W-cf25aa8c42/11354727_1096377437057397_749293979_n_360.png')
            .col-md-3
               h3 Sleeping Bag


               button.btn.btn-danger(type='button', data-dismiss='modal') Notify
               button.btn.btn-success(type='button', data-dismiss='modal') Returned
