.container(style="top: 0; left: 0; position: fixed; width: 100%; height: 100%; background-color: #00939d; z-index: 10;")
    .container(style="width: 300px; margin:0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)")
        form.form-horizontal(name="signinForm")
            .form-group
                input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
            .form-group
                input.form-control(name="password", type="password", placeholder="Password", ng-model="password", required)
            button.btn.btn-default(ng-click="register()") Register
            button.btn.btn-primary(ng-click="signin()") Submit