body
  padding-top 70px
  font-family 'Open Sans'

///////////*++NAV BAR ++*/
.navbar
  background-color #00939d
  .container
    position relative
    margin 0 auto
  a
    color #000000 !important
    font-size 1.2em
    font-weight bold
    margin-right

.navbarlogo
  width 200px
  pull right
  margin-top -15px
  padding 0

.userpic
  position absolute
  background-color #000000
  width 150px
  height 150px
  /*margin-left 70px*/
  margin-top 33px

.username
  position absolute
  margin-left 200px
  margin-top 25px
  font-size 3em
  font-weight 600
  color #fef7ca
  text-shadow black -0.1em 0.1em 0.2em


////////////////////*MINE*/
.stuff
  position relative
  margin-top 150px
  .col-xs-10
    padding 0
  button
    margin-bottom 10px

.leftbar
  margin-top 80px
  h3
    margin 0
  ul
    list-style-type none
    margin-top 10px
    padding 0
  input
    margin-right 5px

.searchbar
  width 60%
  border-radius 10px
  border 2px solid black
  margin-bottom 10px

div.togglebuttons button
  width 50%

.griditem
  background no-repeat center center
  background-size cover
  height 200px
  z-index -1

.wrapper
  background-color #006600
  position relative
  z-index 2
  width 100%
  height 100%
  opacity .2

.redwrap
  background-color #b00900
  position relative
  z-index 2
  width 100%
  height 100%
  opacity .2

.overlay
  z-index 0
  width 100%
  height 100%
  p
    color: #FFFFFF
    display inline
    position relative
    z-index 3
    margin-left 10px
  h2
    position absolute
    top -10px
    left 10px
    color #FFFFFF
    display inline
    z-index 3
  h3
    color #FFFFFF


.nopad
  padding 1px

.signup
  margin-top 150px

.details
  position absolute
  bottom 0px
  z-index 3
